:root {
  --oxford-blue: #343951;
  --scooter: #40aadb;
  --jungle-green: #34b96f;
  --jumbo: #7c7c80;
  --gray-chateau: #a6acaf;
  --mystic: #e4ebef;
  --mandy: #e25c59;
  --white-ice: #d9eef8;
  --catskill-white: #eef3f6;
  --athens-gray: #f9fafb;
  --clear-white: #ffffff;
}